.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Josefin Sans;
	background: #F1EEE8;
}

.header {
	width: 100%;
	height: 50px;
	background: #E6E2DC;
	border-bottom: #FFFFFF 2px solid;
	position: fixed;
	top: 0;
	z-index: 3;
}

#landing {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
}

#tutorial {
	width: 100%;
	background: #E6E2DC;
	position: absolute;
	top: 100%;
	z-index: 2;
}

.content {
	margin: auto;
	width: 960px;
	text-align: center;
}	

	#landing .content {
		padding: 150px 0 50px;
	}

	#tutorial .content {
		padding: 50px 0 50px;
	}

	#flow .content {
		padding: 150px 0 50px;	
	}

.graphic {
	vertical-align: middle;
	display: inline-block;
	/* background: yellow;*/
}

.gap {
	width: 50px;
	height: 0px;
	vertical-align: middle;
	display: inline-block;
}

.text {
	/* background: teal;*/
	width: 560px;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}
	#tutorial .text {
		width: 460px;
	}

.action {
	margin: 100px auto 100px;
	text-align: center;
}

.button-primary {
	width: 300px;
	height: 60px;
	line-height:60px;
	background: #F37B83;
	border: #CCCCCC solid 1px;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
}

.button-secondary {
	width: 300px;
	height: 60px;
	line-height:60px;
	background: #A6A49F;
	border: #CCCCCC solid 1px;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
}

.button-primary:active {
	text-decoration: none;
	background: #F99DA4;
}

.button-secondary:active {
	text-decoration: none;
	background: #D3D1CC;
}

h1 {
	font-size: 80px;
	margin: 0 0 25px;
	font-weight: 700;
}

h2 {
	font-size: 45px;
	margin: 0px;
	font-weight: 700;
	text-align: left;
}

h3 {
	font-size: 40px;
	margin: 0 0 25px;
	font-weight: 700;	
}

h4 {
	font-size: 30px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-weight: normal;
	text-align:center;
	vertical-align:middle;
	font-weight: 700;
	letter-spacing: 2px;
}

#landing p {
	font-size: 60px;
	margin: 0;
	font-weight: 400;
	text-align: center;
}

#tutorial p {
	font-size: 35px;
	margin: 0 0 20px;
	font-weight: 400;
	text-align: left;
}

#flow p {
	font-size: 35px;
	margin: 30px 0 20px;
	font-weight: 400;
	text-align: left;
	width: 240px;
	text-align: center;
}

.charity {
	display: inline-block;
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	float: left;
	margin: auto;
}

a {
	display: block;
	margin: auto;
}

h3 {
	display:block;
}

.one {
	background: yellow;
	height: 60px;
	width: 60px;
}

.two {
	background: orange;
	height: 60px;
	width: 60px;
}

.charity {
	width: 240px;
	height: 240px;
	float: left;
	box-sizing: border-box;
}



.charity-icon {
/*	width: 100px;
	height: 100px;
	border-radius: 50%;
	line-height:60px;
	display: inline-block;
	text-decoration: none;
	background: #EEB192; */
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: url("../img/icons-charity-cats.png") no-repeat 0px 0px;
}

.animals {background-color:#6c3320;background-position:0 0;}
.children {background-color:#5c9c9e;background-position:-60px 0;}
.community {background-color:#6d5a53;background-position:-120px 0;}
.relief {background-color:#aa2636;background-position:-180px 0;}
.education {background-color:#b79d85;background-position:-240px 0;}
.environment {background-color:#7e8151;background-position:-300px 0;}
.health {background-color:#f5bea6;background-position:-360px 0;}
.hunger {background-color:#bf8058;background-position:-420px 0;}
.military {background-color:#494d36;background-position:-480px 0;}
.science {background-color:#acd3dc;background-position:-540px 0;}
.youth {background-color:#ff9d46;background-position:-600px 0;}